body {
    margin: 0;
    height: 100vh;
    background: #ff9a9e;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', sans-serif;
    transition: background 0.5s ease;
    overflow: hidden;
}


.card {
    background: white;
    padding: 37px;
    border-radius: 25px;
    width: 366px;
    text-align: center;
    box-shadow: 0 15px 30px rgba(0,0,0,0.2);
}

h1 {
    color: #e63946;
}

.buttons {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

button {
    padding: 15px 30px;
    font-size: 16px;
    border-radius: 25px;
    border: black;
    cursor: pointer;
    transition: 0.3s ease;
}

#yesBtn {
    background: #e63946;
    color: white;
}

#noBtn {
    background: #adb5bd;
    color: #333;
}

#result {
    margin-top: 25px;
    font-size: 18px;
    color: #e63946;
}
